.header {
  &__logo-link {
    color: #fff;
    text-decoration: none;
  }

  &__nav {
    
  }

  &__nav-list {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &__nav-item {
    padding: 0 5px;
  }

  &__nav-link {
    color: #fff;
    text-decoration: none;
    padding: 9px 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    outline: 0;

    &:hover,
    &:focus {
      background-color: lighten(#f7b731, 10%); 
      transition: background-color 0.15s ease-in-out;
    }
  }
}
